@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Manrope", sans-serif;

  --color-primary-bg: #131117;
  --color-primary-bg-500: #262B3A;
  --color-secondary-bg: #FFFFFF;

  --color-highlights-bg: #000F08;

  --color-primary-text: #FFFFFF;
  --color-secondary-text: #1d1d1d;

  --color-link-text: #3bd671;

  --color-primary-button-bg: #3BD671;
  --color-secondary-button-bg: #FFFFFF;

  --color-primary-border: #FFFFFF;
  --color-secondary-border: #3BD671;

  --color-gradient-start: #131A26;
  --color-gradient-end: #0D5131;

  --color-ios-close: #FF605C;
  --color-ios-minimize: #FFBD44;
  --color-ios-zoom: #00CA4E;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-fadeLeft {
  animation: fadeLeft 0.8s ease-out forwards;
}

.animate-fadeRight {
  animation: fadeRight 0.8s ease-out forwards;
}